.keyboard-wrapper {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}

.keyboard__key {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 10px;
  width: 50px;
  height: 60px;
  padding: 20px;
  text-align: center;
  background-color: rgba(130, 127, 127, 0.649);
  box-shadow: 20px 20px 20px 0px #0f0f0f;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
  }
}

.highlighted {
  background: rgba(232, 230, 252, 0.52);
  box-shadow: rgb(64, 47, 252) 0px 0px 17px 2px, rgba(14, 119, 241, 0.733) 0px 0px 25px;
}
.highlighted--error {
  background: rgba(232, 230, 252, 0.52);
  box-shadow: rgb(217, 3, 3) 0px 0px 17px 2px, rgba(212, 33, 1, 0.733) 0px 0px 25px;
}